p {
  color: darkgreen;
  font-size: 10px;
}
h1{
  color: orange;
  font-size: 20px
}
#ida, #idb{
  color: orange;
  background-color: lightgreen;
}
li.fruta{
  background-color: lightyellow;
}
li.verdura{
  background-color: lightgreen;
}
.emfalta{
  text-decoration: line-through;
}
a:hover{
  background-color: red;
}
